/* Color settings */

$red:      red !default;
$red-light:      #f19c9c !default;

$gray-light:      #f5f5f5 !default;
$grey2: #f8f8f8;
$grey3: #d1d1d1;
$grey4: #919191;
$grey-darken: #585858;
$grey-dark: #afafaf;
$grey: #eeedeb;
$white: #fff;
$yellow: #bea632;
$yellow-light: #fcc729;
$black: #000;
