.container-center{
    max-width: 1605px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-center-sm{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-center-min{
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}
