@font-face {
  font-family: 'Microsoft';
  src: url('../font/microsoft.eot');
  src: url('../font/microsoft.eot') format('embedded-opentype'),
  url('../font/microsoft.ttf') format('truetype'),
  url('../font/microsoft.svg#Microsoft') format('svg');
}

@font-face {
  font-family: 'Myriad';
  src: url('../font/MyriadPro-Regular.eot');
  src: url('../font/MyriadPro-Regular.eot') format('embedded-opentype'),
  url('../font/MyriadPro-Regular.ttf') format('truetype'),
  url('../font/MyriadPro-Regular.svg#Myriad') format('svg');
}

@font-face {
  font-family: 'MyriadSemi';
  src: url('../font/MyriadPro-Semibold.eot');
  src: url('../font/MyriadPro-Semibold.eot') format('embedded-opentype'),
  url('../font/MyriadPro-Semibold.ttf') format('truetype'),
  url('../font/MyriadPro-Semibold.svg#MyriadSemi') format('svg');
}

@font-face {
  font-family: 'Helvetica-Light';
  src: url('../font/helveticaneuecyr-thin.eot');
  src: url('../font/helveticaneuecyr-thin.eot') format('embedded-opentype'),
  url('../font/helveticaneuecyr-thin.woff') format('woff'),
  url('../font/helveticaneuecyr-thin.ttf') format('truetype'),
  url('../font/helveticaneuecyr-thin.svg#Helvetica-Light') format('svg');
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../font/helveticaneuecyr-bold.eot');
  src: url('../font/helveticaneuecyr-bold.eot') format('embedded-opentype'),
  url('../font/helveticaneuecyr-bold.woff') format('woff'),
  url('../font/helveticaneuecyr-bold.ttf') format('truetype'),
  url('../font/helveticaneuecyr-bold.svg#Helvetica-Bold') format('svg');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../font/HelveticaNeue-Light.eot');
  src: url('../font/HelveticaNeue-Light.eot') format('embedded-opentype'),
  url('../font/HelveticaNeue-Light.woff') format('woff'),
  url('../font/HelveticaNeue-Light.ttf') format('truetype'),
  url('../font/HelveticaNeue-Light.svg#Helvetica') format('svg');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, input, a {
  -webkit-appearance: none;
  -moz-appearance: none;
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

mark {
  background: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

header {
  width: 100%;
  padding: 0 150px 0 36px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 auto;
}

ul {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'Helvetica';
}

/* Header style*/
header nav {
  padding-top: 45px;
}

header nav li {
  float: left;
  margin-right: 49px;
}

header nav li:last-child {
  margin-right: 0;
}

header:after {
  content: '';
  display: block;
  clear: both;
}

header nav a {
  font: 14px/20px 'Helvetica-Bold';
  color: #3b3b3b;
}

header nav a:hover,
header nav .active a {
  color: #fcc728;
}

.logo {
  margin: 10px 0 5px 10px;
}

/*Content*/

.section1 {
  position: relative;
}

.img-bg {
  width: 100%;
  height: 576px;
  background: url('../images/image-bg.png') 0 0 no-repeat;
  background-size: cover;
}

.section1 aside {
  position: absolute;
  top: 0;
  padding-left: 50px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.content {
  margin: 0 auto;
  width: 100%;
  padding-right: 118px;
  box-sizing: border-box;
}

.section1 aside p {
  width: 490px;
  font: bold 48px/54px 'Helvetica';
  color: #fff;
  padding-top: 41px;
}

.learn {
  font: 16px/39px 'Helvetica-Bold';
  color: #303030;
  background: #fcc728;
  display: inline-block;
  padding: 0 8px 0 12px;
  margin-top: 28px;
}

.learn span {
  padding-right: 21px;
  background: url("../images/arrow.png") center right no-repeat;
  display: block;
  text-transform: capitalize;
}

.market {
  width: 292px;
  display: table;
  margin: 20px auto 0;
  position: absolute;
  top: 88px;
  right: 118px;

}

.market .top {
  width: 100%;
  padding: 5px 7px 6px;
  background: #fcc728;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.market .top span {
  float: left;
  max-width: 34px;
  max-height: 36px;
  text-align: center;
  margin-right: 11px;
}

.market .top h2 {
  font: 24px/36px 'Helvetica-Bold';
  color: #2c2c2c;
  float: left;
  text-transform: capitalize;
}

.market main {
  float: left;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 7px;
  background: rgba(39, 41, 41, 0.8);
}

.market main span {
  font: 18px/38px 'Helvetica-Bold';
  color: #fcc728;
}

.market main ul {
  float: left;
  clear: both;
  width: 100%;
}

.market main ul li {
  float: left;
  margin: 0 6px 20px 0;
  width: 136px;
  background: #6e6f6f;
  padding: 4px 8px 6px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.market main ul li:nth-child(even) {
  margin-right: 0;
}

.market main li h3 {
  font: 16px/23px 'Helvetica-Bold';
  color: #fff;
  text-transform: uppercase;
  margin-left: 3px;
  font-weight: bold;
}

.market main li span {
  font: 12px/23px 'Helvetica-Bold';
  color: #cacaca;
}

.market main li p {
  font: 36px/35px 'Helvetica-Bold';
  color: #fcc728;
  margin: 11px 0 0 5px;
  padding: 0;
  width: 100%;
}

.market main .info {
  width: 263px;
  font: 12px 'Helvetica-Light';
  color: #fff;
  margin-left: 8px;
  letter-spacing: 0.4px;
  padding: 0 0 4px 0;
  float: left;
  clear: both;
  margin-top: -7px;
}

.section2 {
  max-width: 1024px;
  margin: 21px auto 32px;
  clear: both;
}

.section2 .left {
  margin-left: 12px;
  padding: 22px 22px 25px 21px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 509px;
  background: #eeecec;
  border: 1px solid rgba(238, 236, 236, 0.7);
  border-right: 0;
  border-left: 0;
}

.top-name {
  width: 100%;
  padding: 10px 7px 6px 42px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 17px;
  font: 24px/32px 'Helvetica-Bold';
  color: #2c2c2c;
  background: #fcc728 url('../images/usd-icon.png') 7px center no-repeat;
}

.section2 ul {
  width: 100%;
}

.section2 ul li {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #fff;
  float: left;
  margin-bottom: 28px;
  padding: 16px 10px 15px 14px;
}

.section2 ul li:last-child {
  margin-bottom: 32px;
}

.section2 ul li figure {
  width: 174px;
  height: 170px;
  background-size: cover !important;
  float: left;
}

.section2 .contain {
  float: right;
  width: 245px;
}

.section2 .contain mark {
  float: right;
  font: 12px 'Helvetica-Bold';
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.section2 .contain h4 {
  clear: both;
  display: block;
  width: 100%;
  font: 28px/37px 'Helvetica';
  color: #fcc728;
}

.section2 .contain span {
  display: block;
  font: 18px/26px 'Helvetica-Bold';
  color: #000;
}

.section2 .contain p {
  font: 16px/1.4 'Helvetica-Bold', sans-serif;
  color: #474444;
  display: block;
  margin: 0;
}

.more {
  float: right;
  padding: 0 10px 0 7px;
  font: 12px/20px 'Helvetica-Bold';
  color: #303030;
  background: #fcc728;
  text-transform: capitalize;
  position: relative;
  min-width: 45px;
}

.more:after {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 4px;
  width: 7px;
  height: 13px;
  background: url('../images/arrow.png') 0 0 no-repeat;
  background-size: cover;
}

.section2 .right {
  float: right;
  width: 450px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #fcc728;
  padding: 21px 54px 30px 32px;
}

.section2 .right h5 {
  display: block;
  width: 100%;
  padding-left: 87px;
  background: url('../images/icon.png') 0 0 no-repeat;
  text-transform: uppercase;
  font: 24px/24px 'Helvetica-Bold';
  color: #000;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.section2 .right .hr {
  width: 100%;
  margin: 15px 0;
  height: 2px;
  background: url('../images/border.png') 0 0;
  display: block;
}

.section2 .right h3 {
  color: #080808;
  font: 18px/30px 'Helvetica-Bold';
  text-transform: uppercase;
  margin-bottom: 16px;
}

.section2 .right p {
  font: 16px/18px 'Helvetica-Bold';
  color: #000;
  letter-spacing: -0.1px;
  margin-bottom: 34px;
}

.middle-block {
  padding: 12px 12px 17px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  text-align: center;
  background: #feeebf;
}

.middle-block .tittle {
  display: block;
  font: 16px/23px 'Helvetica-Bold';
  color: #000;
  margin-bottom: 19px;
}

.middle-block .learn {
  margin: 0;
}

.section2 aside {
  width: 100%;
  text-align: center;
  font: 16px 'Helvetica';
  color: #fff;
  letter-spacing: 0.3px;
}

.section2 aside h1 {
  font: 24px/1.4 'Helvetica-Bold';
  color: #000;
  letter-spacing: 0;
  margin-top: 33px;

}

.section2 .size12 {
  font-size: 16px;
}

.section2 .size14 {
  font-size: 16px;
}

.section2 .size16 {
  font-size: 16px;
}

.section2 .size18 {
  font-size: 16px;
}

.section2 .size22 {
  font-size: 16px;
}

.section2 .size24 {
  font-size: 16px;
}

footer {
  width: 100%;
  float: left;
  clear: both;
  background: #7f7f7f;
  padding: 15px 0 7px;
}

footer .footer-content {
  max-width: 970px;
  margin: 0 auto;
}

footer .left {
  width: 336px;
}

footer .left a {
  font: 13.72px/1.3 'Microsoft', sans-serif;
  color: #fff;
  text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.5);
  letter-spacing: 0.5px;
}

footer .left li {
  width: 158px;
  float: left;
  margin-right: 10px;
  line-height: 1;
}

footer .left li:last-child {
  float: right;
}

footer .right li {
  float: left;
  margin-left: 6px;
}

footer .right li a {
  display: block;
  width: 35px;
  height: 36px;
}

footer .right li .facebook {
  background: url('../images/facebook-small.jpg') 0 0 no-repeat;
}

footer .right li .twitter {
  background: url('../images/twitter-small.jpg') 0 0 no-repeat;
}

footer .right li .linkedin {
  background: url('../images/linkedin-small.jpg') 0 0 no-repeat;
}

footer .right li:first-child {
  margin-left: 0;
}

footer p {
  float: left;
  clear: both;
  margin-top: 27px;
  width: 100%;
  font: 10px/1.3 'Microsoft', sans-serif;
  color: #fff;
  text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.5);
  letter-spacing: 0.5px;
}

footer p a {
  text-decoration: none;
  font: 10px/1.3 'Microsoft', sans-serif;
  color: #fff;
  text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.5);
  letter-spacing: 0.5px;
}

footer p .left {
  padding-left: 16px;
  background: url('../images/copyright.png') 0 center no-repeat;
}

/*The Firm Page*/

.orange-section {
  width: 100%;
  height: 674px;
  background: #fcc729;
}

.orange-section.height-auto {
  height: auto;
  padding-bottom: 40px;
}

.orange-section div {
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 81px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orange-section p,
.orange-section .inner {
  padding-top: 76px;
  font: 48px/52px 'Helvetica-Bold';
  color: #fff;
}

.orange-section .inner span,
.orange-section .inner h1 {
  color: #2b2e33;
  font-family: 'MyriadSemi';
  display: block;
}

.orange-section .inner .small-size,
.orange-section p .small-size {
  font: 18px/20px 'Microsoft', sans-serif;
  color: #fff;
  max-width: 765px;
  padding-top: 20px;
}

.firm-content .orange-section .inner .small-size,
.firm-content .orange-section p .small-size {
  max-width: 100%;

}

.btn-down {
  width: 38px;
  height: 38px;
  margin-top: 15px;
  display: block;
  background: url('../images/btn-down.png') right 0 no-repeat;
}

.section1 .content .btn-down {
  background: url('../images/arrow_grey.png') center no-repeat;
  margin-left: 80px;
}

.btn {
  font: 24px/53px 'Myriad', sans-serif;
  text-transform: uppercase;
  color: #725a12;
  background: #fcc729;
  padding: 0 23px;
  display: inline-block;
}

.about-section {
  max-width: 996px;
  margin: 47px auto;
}

.about-section p {
  font: 17px/26px 'Microsoft', sans-serif;
  color: #999999;
  margin: 44px 0;
  letter-spacing: 0.5px;
}

.managment-section {
  width: 100%;
  padding: 37px 0 146px;
  background: #eeedeb;
}

.managment-section aside {
  max-width: 996px;
  margin: 0 auto;
}

.managment-section .btn {
  background: #000;
  color: #fcc729;
}

.managment-section p {
  color: #585858;
  font: 17px/26px 'Microsoft', sans-serif;
  margin: 40px 0 60px;
}

.inline-table {
  display: table;
  height: 100%;
}

.inline-table div {
  display: table-cell;
  height: 100px;
  min-height: 416px;
}

.managment-section .inline-table {
  border-spacing: 10px 0;
  margin-left: -10px;
  width: 100%;
  max-width: 1012px;
  margin-bottom: 10px;
}

.managment-section .inline-table div {
  width: 50%;
  background: #fff;
  padding: 12px 16px 60px;
}

.managment-section .inline-table .btn {
  font: 17.14px/29px 'MyriadSemi', sans-serif;
  text-transform: lowercase;
  color: #585858;
  background: #fcc729;
  margin-bottom: 24px;
  padding: 0 10px;
}

.managment-section .inline-table h3 {
  font: 30.95px/35px 'Myriad', sans-serif;
  color: #fcc729;
  text-transform: uppercase;
}

.managment-section .inline-table span {
  font: 18.91px/30px 'MyriadSemi';
  color: #585858;
  font-style: normal;
}

.managment-section .inline-table p {
  color: #585858;
  line-height: 26px;
  font-family: 'Microsoft', sans-serif;
  margin: 25px 0 0 0;
}

.testimonials {
  width: 996px;
  margin: 30px auto 120px;
}

.testimonials .inline-table {
  margin-top: 30px;
}

.testimonials .inline-table div {
  padding: 18px 0 20px;
  width: 484px;
  position: relative;
}

.testimonials .inline-table div:first-child {
  padding-right: 64px;
  border-right: 1px solid #c9c9c9;
}

.testimonials .inline-table div:last-child {
  padding-left: 67px;

}

.testimonials .inline-table div:last-child h3 {
  left: 67px;

}

.testimonials .inline-table div p {
  font: 17px/24px 'Microsoft', sans-serif;
  color: #585858;
  margin-bottom: 18px;
}

.testimonials .inline-table h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  font: 16px 'Myriad', sans-serif;
  color: #fcc729;
}

.testimonials .inline-table h3 b {
  font-family: 'MyriadSemi'
}

.testimonials .inline-table .second h3 {
  left: 67px;
}

.managment-section .inline-table div:nth-child(2n) h3 {
  left: 67px;

}

.testimonials .inline-table:first-child {
  margin-top: 5px;
}

/*Loan programs*/

.grid .inline-table {
  display: table;
  border-spacing: 14px 15px;
  margin-left: -14px;
  width: 1020px;
  min-height: 316px;
}

.grid .col1 {
  min-width: 322px;
  width: 100%;
}

.grid .col2 {
  width: 370px;
}

.grid .col3 {
  width: 388px;
}

.grid .col4 {
  width: 488px;
}

.grid .col5 {
  width: 592px;
}

.grid .col6 {
  width: 610px;
}

.grid .col7 {
  width: 656px;
}

.transactions,
.loan-programs {
  width: 100%;
  background: #eeedeb;
  margin-bottom: -32px;
  padding: 45px 0 100px;
}

.loan-programs:not(.property) .small {
  min-width: 275px !important;
}

.loan-programs .inline-table:last-child {
  display: none;
}

.form-contact {
  width: 100%;
  background: #eeedeb;
  margin: 0 0 -32px 0;
  padding: 45px 0 185px;
}

.main {
  max-width: 996px;
  margin: 0 auto;
}

.btn.black {
  text-transform: uppercase;
  line-height: 57px;
  color: #fcc729;
  background: #000;
}

.btn.small {
  text-transform: lowercase;
  color: #585858;
  font: 17.14px/29px 'MyriadSemi', sans-serif;
}

.description {
  margin: 43px 0 33px;
  font: 17px/24px 'Microsoft', sans-serif;
  color: #585858;
}

.main .inline-table div {
  background: #fff;
  padding: 27px 22px 50px 22px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.main .inline-table div h3 {
  font: 29px/26px 'Myriad', sans-serif;
  margin-bottom: 35px;
  color: #fcc729;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  word-break: break-word;

}

.main .inline-table div h3 b,
.main .inline-table div h3 strong {
  font-weight: 600;
}

.main .inline-table div p {
  font: 17px/27px 'Microsoft', sans-serif;
  color: #585858;
}

.main .inline-table .orange {
  background: #fcc729;
}

.main .inline-table .orange h3,
.main .inline-table .orange p {
  color: #fff;
}

.inline-table .col1:nth-child(2) h3 {
  font-size: 25.5px;
}

.property .main .inline-table div {
  padding: 0;
}

.property .main .inline-table .small {
  margin: 18px;
}

.property .main .image {
  height: 278px;
  width: 100%;
  background-position: center center !important;
  background-size: cover !important;
}

.transactions .main .inline-table div {
  padding: 0;
  position: relative;
  background-size: cover !important;

}

.transactions .date {
  float: right;
  font: 11px 'MyriadSemi', sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.transactions h5 {
  display: block;
  clear: both;
  width: 100%;
  font: 30.95px/34px 'MyriadSemi';
  color: #fcc729;
  margin-bottom: 12px;
}

.transactions .location {
  font: 18.53px/20px 'MyriadSemi';
  text-transform: uppercase;
  color: #585858;
  margin-bottom: 5px;
}

.transactions p {
  font: 17px/24px 'Microsoft', sans-serif;
  color: #000000;
}

.transactions .details {
  padding: 12px 22px 25px 22px;
  background: rgba(255, 255, 255, 0.75);
  height: 100%;
}

.transactions .main .inline-table .more-content {
  padding-left: 316px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.more-content .img-block {
  height: 100%;
  background-size: cover !important;
  width: 316px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat !important;
}

.transactions .main .inline-table .more-content.col4 {
  padding-left: 250px;
}

.col4.more-content .img-block {
  width: 250px;
}

.map {
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 458px;
}

.contact .main {
  margin-top: 50px;
}

.contact .main .contact-details {
  margin: 57px 0 85px;
  float: left;
  width: 100%;
}

.contact .main .contact-details h3 {
  font: 31px/30px 'MyriadSemi';
  color: #fcc729;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.contact .main .contact-details span {
  display: block;
  font: 31px/44px 'MyriadSemi';
  color: #585858;
}

.main .contact-details .right {
  margin-right: 48px;
}

.main .contact-details .right li a {
  display: block;
  width: 72px;
  height: 69px;
}

.main .contact-details .right li {
  float: left;
  clear: both;
  margin-bottom: 27px;
}

.main .contact-details .right a {
  display: block;
  width: 72px;
  height: 69px;
}

.main .contact-details .right .facebook {
  background: url('../images/facebok-big.jpg') 0 0 no-repeat;
}

.main .contact-details .right .twitter {
  background: url('../images/twitter-big.jpg') 0 0 no-repeat;
}

.main .contact-details .right .linkedin {
  background: url('../images/linkedin-big.jpg') 0 0 no-repeat;
}

.form-contact form {
  width: 576px;
  margin-top: 40px;
}

.form-contact form textarea {
  height: 145px;
  width: 100%;
  max-width: 535px;
  margin: 0;
  outline: none;
}

.form-contact form li {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 7px 22px 12px 20px;
  background: #fff;
  margin-bottom: 9px;
  position: relative;
}

.form-contact form .first-field {
  width: 312px;
}

.form-contact form .field {
  width: 430px;
}

.form-contact form .last-field {
  padding-bottom: 10px;
}

.form-contact form li input {
  width: 100%;
  border-bottom: 1px solid #eeedeb;
  outline: none;
  height: 40px;
  font: 17px 'MyriadSemi', sans-serif;

}

.form-contact form button[type="submit"] {
  float: right;
  font: 21.91px/56px 'MyriadSemi', sans-serif;
  background: #fcc728;
  color: #000;
  margin-top: 5px;
  padding: 0 44px;
  cursor: pointer;
  outline: none;
}

.form-contact form label {
  color: #5b5b5b;
  font: 17px 'MyriadSemi', sans-serif;
  position: absolute;
  left: 20px;
  top: 17px;

}

.custom-fix {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  .col1 {
    width: auto;
    min-height: inherit;
    height: auto;
    margin-bottom: 30px;
    @media (max-width: 1045px) {
      margin: 0 10px 30px;
      min-width: inherit !important;
      width: 47% !important;
    }
    @media (max-width: 700px) {
      width: 100% !important;
    }

  }
}

.form-contact form label span {
  color: #ff0000;
}

.form-contact form input:focus label {
  display: none;
}

.form-contact form .focus label {
  display: none;
}

.success_msg {
  font: 18px/20px 'Microsoft', sans-serif;
  color: red;
  max-width: 765px;
  padding: 20px 0 0 !important;
}

@media(max-width: 1040px) {
  header {
    padding: 0 36px 0 0;
  }
  .market {
    right: 0px;
  }
  .section1 aside {
    padding-left: 18px;
  }
  .content {
    padding-right: 36px;
  }
  .main {
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
  }
  footer {
    padding: 15px 20px 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .managment-section .inline-table {
    width: 100%;
    margin: 0;
  }
  .managment-section .inline-table div {
    width: 50%;
    display: table-cell;
  }
  .testimonials {
    width: 100%;
  }
  .testimonials .inline-table div {
    width: 50%;
    display: table-cell;
  }
  .testimonials .inline-table div:first-child {
    padding-right: 26px;
  }
  .testimonials .inline-table div:last-child {
    padding-left: 27px;
  }
  .testimonials,
  .managment-section,
  .about-section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .section2 {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .section2 .right {
    width: 45%;
    margin: 0;
  }
  .section2 .left {
    width: 47%;
    margin: 0px;
  }
  .content .left {
    width: 48%;
  }
  .content .left p {
    width: 100%;
  }
  /*.section1 .right{*/
  /*width: 40%;*/
  /*}*/
  /*.section1 main ul li {*/
  /*float: left;*/
  /*margin: 0 1% 4% 0;*/
  /*width: 49.5%;*/
  /*}*/

}

@media(max-width: 1040px) and (min-width: 950px) {

  .grid .inline-table {
    width: 100%;
  }
  .grid .col1 {
    width: 31.44%;
  }
  .grid .col2 {
    width: 36.13%;
  }
  .grid .col3 {
    width: 37.89%;
  }
  .grid .col4 {
    width: 47.65%;
  }
  .grid .col5 {
    width: 57.8%;
  }
  .grid .col6 {
    width: 59.57%;
  }
  .grid .col7 {
    width: 64.06%;
  }
  .transactions .main .inline-table .more-content {
    padding-left: 30%;
  }
  .more-content .img-block {
    width: 50%;
  }

}

@media(max-width: 950px) {
  .inline-table div {
    display: block;
    height: auto;
    min-height: 50px;
    margin-bottom: 20px;

  }
  .grid .col1 {
    width: 100%;
    min-width: inherit;
  }
  .grid .col2 {
    width: 100%;
  }
  .grid .col3 {
    width: 100%;
  }
  .grid .col4 {
    width: 100%;
  }
  .grid .col5 {
    width: 100%;
  }
  .grid .col6 {
    width: 100%;
  }
  .grid .col7 {
    width: 100%;
  }
  .transactions .details {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .grid .inline-table {
    display: block;
    width: 100%;
    margin: 0;
    min-height: 50px;
  }
  .section2 .contain {
    width: 56%;
  }
  .section2 ul li figure {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .section2 .right {
    width: 100%;
    margin: 0;
  }
  .section2 .left {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 620px) {
  .content {
    padding: 0;
  }
  .content .left {
    width: 100%;
  }
  .market {
    position: initial;
    width: 100%;
  }
  .market main ul li {
    width: 49%;
    margin-right: 1%;
  }
  /*footer,*/
  /*.section2{*/
  /*position: relative;*/
  /*top: 500px;*/
  /*}*/
  footer.light {
    position: initial;
  }
  .section1 aside {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .content .right {
    /* position: absolute; */
    /* top: 428px; */
    /* left: 0; */
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    float: left;
    display: block;
  }
  .section1 main ul li {
    width: 49.5%;
    margin: 0 1% 2% 0;
  }
  .section1 main .info {
    margin: 0;
  }
  .img-bg {
    height: 400px;
  }
  .main .contact-details .right {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
  }
  .contact .main .contact-details span {
    display: block;
    font: 22px/36px 'MyriadSemi';
  }
  .main .contact-details .right li a {
    background-size: cover !important;
  }
  .main .contact-details .right li {
    clear: none;
    margin-right: 20px;
  }
  .form-contact form,
  .form-contact form .first-field,
  .form-contact form .field {
    width: 100%;
  }
  .main .contact-details .right li a {
    width: 62px;
    height: 58px;
  }
  .orange-section .inner,
  .orange-section p {
    padding-top: 20px;
  }
  .orange-section div {
    padding: 0 18px 18px;
  }

}

@media (max-width: 540px) {
  .transactions .main .inline-table .more-content {
    padding-left: 50%;
  }
  .more-content .img-block {
    width: 50%;
  }
  .main .inline-table div p {
    font-size: 14px;
  }
  .col4.more-content .img-block {
    width: 50%;
  }
  .transactions .main .inline-table .more-content.col4 {
    padding-left: 50%;
  }
  footer .left {
    width: 158px;
  }
  footer .left li:last-child {
    float: left;
  }

  footer p .left {
    width: 100%;

  }
  footer p .right {
    float: left;
    margin-top: 5px;
  }
  .orange-section p,
  .orange-section .inner {
    font: 30px/34px 'Helvetica-Bold';
  }
  .managment-section .inline-table div,
  .testimonials .inline-table div {
    width: 100%;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .testimonials .inline-table div:first-child,
  .testimonials .inline-table div:last-child {
    border: 0;
    padding: 0;
  }
  .managment-section {
    padding-bottom: 30px;
  }
  .testimonials .inline-table h3 {
    position: initial;
  }
}

@media (max-width: 400px) {
  .section2 ul li figure {
    width: 100%;
  }
  .section2 .contain {
    width: 100%;
    margin-top: 10px;
  }
  .section2 .right {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section2 .right h5 {
    font-size: 21px;
  }
  .content .left p {
    font-size: 36px;
  }
  .col4.more-content .img-block,
  .more-content .img-block {
    width: 100%;
    position: initial;
    height: 150px;
  }
  .transactions .main .inline-table .more-content.col4,
  .transactions .main .inline-table .more-content {
    padding-left: 0;
  }
  .contact .main .contact-details span {
    font: 17px/25px 'MyriadSemi';
  }
}

@media (max-width: 850px) {
  header nav {
    width: auto;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

}

@media (max-width: 850px) and (min-width: 620px) {

  header nav ul {
    display: table;
    width: 100%;
    text-align: center;
    border-spacing: 10px 0;
  }
  header nav ul li {
    float: none;
    display: table-cell;
  }
}

.btn-nav {
  background: #fcc728;
  border: none;
  width: 50px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  display: none;
  border-radius: 4px;
  top: 0;
}

.btn-nav:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 4px;
  background: #fff;
  top: 11px;
  left: 16%;
  box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
  border-radius: 4px;
}

.hide .btn-nav {
  display: block;
  margin-left: 10px;
}

.hide {
  position: relative;
  z-index: 999999;
}

.hide .btn-nav {
  display: block;
  margin-left: 10px;
}

nav.hide ul {
  background: #fff;
  margin: 0;
  position: absolute;
  min-width: 250px;
  width: auto;
  padding: 0;
  top: 72px;
  right: 0;
  display: none;
  margin: 0;
  z-index: 999999;
  border-radius: 4px;
  text-align: left;
  height: auto;
  overflow: hidden;
  box-shadow: inset 0px 0px 24px 6px rgba(234, 220, 167, 0.6);
}

.hide ul li {
  display: block;
  padding: 5px 10px;
  font-size: 3rem;
  cursor: pointer;
  margin: 0;
  float: left;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.hide ul li a {
  line-height: 32px;
  height: 32px !important;
  display: block;
  text-align: left;
}

.hide ul li:hover {
  background: #FFE8A0;
}

@media (max-width: 780px) {
  header {
    padding: 0;
  }
  header .hide {
    width: auto;
  }
  header nav .active a {
    color: #fcc728;
  }
  header nav a:hover {
    color: #fff;
  }
  .section1 aside {
    padding-left: 15px;
  }
}
